*,
:before,
:after {
    box-sizing: border-box; // habit
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 80%;
    border: 1px gray solid;


    .dropdown {
        margin: 0 10px;

        button {
            color: black;
            background-color: white;
            border: 0;
            padding: 0;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .btn-primary.focus,
        .btn-primary:focus {
            box-shadow: none;
        }

        button:focus {
            color: black;
            background-color: white;
            border: 0;
            padding: 0;

        }

        button:active {
            color: black;
            background-color: white;
            border: 0;
            padding: 0;

        }

        button::after {
            color: black;
            background-color: white;
            border: 0;
            padding: 0;
        }

        .show dropdown {
            border: 0;
            margin: 0;

            button {
                background-color: white;
                padding: 0;
            }

            dropdown-menu show {
                a {}
            }
        }
    }

    .weather-container {
        margin: 0 10px;

        .actual-today-weather-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;

            .temperature-and-asset-container {

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;

                p {}

                .temperature-and-asset {

                    p {}

                    .img-and-p {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: stretch;
                        align-content: stretch;

                        img {}

                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .details-container {
                margin: 15vh 0 0 15vw;

                p {}
            }
        }
    }

    .rest-of-week-weather-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        .other-day-weather {
            margin: 10px 40px 0 10px;
            text-align: center;

            p {}

            img {}

            .temperatures {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;

                p {
                    sub {}
                }
            }
        }
    }

}